# Get your authtoken: dashboard.ngrok.com -> Your Authtoken
NGROK_AUTHTOKEN=1vXJNpDeZNeUnqkRZyRk87YtFuD_2CHzcUKbt6N4XjjetxD9L
# Get your static domain on dashboard.ngrok.com -> Static Domains 
NGROK_DOMAIN=conjure-cancel-contort.ngrok-free.dev
PORT=18081